VITE_AWS_REGION=us-east-1
VITE_COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_HTTP_API_URL=https://xxxxxxxx.execute-api.us-east-1.amazonaws.com/prod
VITE_WS_API_URL=wss://xxxxxxxx.execute-api.us-east-1.amazonaws.com/prod
